<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.apple.mapper.TypeMapper">

	<select id="selectAll" resultType="com.han.apple.pojo.Type">
		select * from type
	</select>
	
	<select id="selectById" resultType="com.han.apple.pojo.Model">
		select type.name from type where id=#{id}
	</select>

</mapper>