<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册-Apple(中国大陆)-官方网站</title>
<link rel="shortcut icon" href="image/apple.png" type="image/x-icon" />
</head>

<div id="top"></div>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript">
	$.ajax({
		url:"head",
		async:false,
		type:"get",
		dataType:"html",
		success:function(msg){
			$("#top").html(msg);
		}
	})
</script>

<body>
		<form action="register" method="post">
			账号：<input type="text" name="username">
			<br>
			密码：<input type="password" name="password">
			<br>
			确认密码：<input type="password" name="password2">
			<br>
			<input type="submit" value="注册">
			${error!''}
		</form>
</body>

<div id="bottom"></div>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript">
	$.ajax({
		url:"tail",
		async:false,
		type:"get",
		dataType:"html",
		success:function(msg){
			$("#bottom").html(msg);
		}
	})
</script>

</html>