<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>网页底部菜单</title>
<link rel="stylesheet" href="css/tail.css">
</head>
<body>
	<div class="in">
		<br>
		<div class="box">
			<div class="suit-menu">
				<div class="menu-top">选购及了解</div>
				<div class="in-menu">
					<a href="#">Mac</a><br>
					<a href="#">iPad</a><br>
					<a href="#">iPhone</a><br>
					<a href="#">Watc</a><br>
					<a href="#">Music</a><br>
					<a href="#">AirPods</a><br>
					<a href="#">HomePod</a><br>
					<a href="#">iPod</a><br>
					<a href="#">touch 配件</a><br>
					<a href="#">App Store 充值卡</a><br>
				</div>
			</div>
			<div class="suit-menu">
				<div class="menu-top">服务</div>
				<div class="in-menu">
					<a href="#">Apple<br>
					<a href="#">Music</a><br>
					<a href="#">iCloud</a><br>
				</div>
				<br><br>
				<div class="menu-top">账户</div>
				<div class="in-menu">
					<a href="#">管理你的 Apple ID</a><br>
					<a href="#">Apple Store 账户</a><br>
					<a href="#">iCloud.com</a><br>
				</div>
			</div>
			<div class="suit-menu">
				<div class="menu-top">Apple Store 商店</div>
				<div class="in-menu">
					<a href="#">查找零售店</a><br>
					<a href="#">Genius Bar 天才吧</a><br>
					<a href="#">Today at Apple</a><br>
					<a href="#">Apple 夏令营</a><br>
					<a href="#">Field Trip 课外活动</a><br>
					<a href="#">Apple Store App</a><br>
					<a href="#">翻新和优惠</a><br>
					<a href="#">分期付款</a><br>
					<a href="#">Apple Trade In 换购计划</a><br>
					<a href="#">订单状态</a><br>
					<a href="#">选购帮助</a><br>
				</div>
			</div>
			<div class="suit-menu">
				<div class="menu-top">商务应用</div>
				<div class="in-menu">
					<a href="#">Apple 与商务</a><br>
					<a href="#">商务选购</a><br>
				</div>
				<br><br>
				<div class="menu-top">教育应用</div>
				<div class="in-menu">
					<a href="#">Apple 与教育</a><br>
					<a href="#">高校师生选购</a><br>
				</div>
			</div>
			<div class="suit-menu">
				<div class="menu-top">Apple 价值观</div>
				<div class="in-menu">
					<a href="#">辅助功能</a><br>
					<a href="#">环境责任</a><br>
					<a href="#">隐私</a><br>
					<a href="#">供应商责任</a><br>
				</div>
				<br>
				<div class="menu-top">关于 Apple</div>
				<div class="in-menu">
					<a href="#">Newsroom</a><br>
					<a href="#">Apple 管理层</a><br>
					<a href="#">工作机会</a><br>
					<a href="#">创造就业</a><br>
					<a href="#">活动</a><br>
					<a href="#">联系 Apple</a><br>
				</div>
			</div>
			<div class="block"></div>
			<div class="tail-menu">
				更多选购方式：查找你附近的<a href="#">Apple Store 零售店</a>及<a href="#">更多门店</a>，或者致电 400-666-8800。
			</div>
			<div class="line"></div>
			<div class="tail-menu">
				Copyright © 2020 Apple Inc. 保留所有权利。隐私政策 使用条款 销售政策 法律信息 网站地图 
				京ICP备10214630 营业执照 无线电发射设备销售备案编号11201910351200
			</div>
		</div>
		<br>
	</div>
</body>
</html>